{
  "plugins": [
    "stylelint-order",
  ],
  "rules": {
    "declaration-no-important": true,
    "indentation": 2,
    "max-nesting-depth": 3,
    "order/properties-order": [
      [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "transform",
      "transform-origin",
      "display",
      "float",
      "flex-direction",
      "flex-grow",
      "justify-content",
      "align-items",
      "align-self",
      "flex",
      "flex-wrap",
      "order",
      "width",
      "height",
      "min-width",
      "min-height",
      "max-width",
      "max-height",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "font",
      "font-family",
      "color",
      "font-size",
      "font-weight",
      "line-height",
      "letter-spacing",
      "text-align",
      "text-decoration",
      "text-transform",
      "list-style",
      "list-style-type",
      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "border-color",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",
      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",
      "background",
      "background-color",
      "background-image",
      "background-repeat",
      "background-size",
      "fill",
      "opacity",
      "visibility",
      "transition",
      "cursor",
      "white-space",
      "overflow",
      "pointer-events",
      "animation",
      "animation-name",
      "animation-delay",
      "animation-duration",
      "animation-fill-mode"
      ],
      {
        unspecified: "bottom",
      }
    ],
  },
} 